/* .nav{
    
    width: 85vw;
    border: 1px solid black;
    height: 8vh ;
    background-color: black;
    border-radius: 10px;
} */

/* .clock{
    display: flex;
    justify-content: center !important;
} */

.navbar-nav .active{
    color: #0A58CA !important;
}

@media only screen and (max-width: 576px) {
   .resume-btn{

    margin-left: 40px;
   }
  }